Notes : 
1531,934069404_34543643308,110350144_67985219545_904677
duplicates in start wiht the same time  but it does not affect the avg time spent because the result will be 0 

but for the error we drop them 

1531	934069404_34543643308	110350144_67985219545_904677
it reaches confirm but again goes to the start step and stays there, I interpreted it as error because all the ids were the same

In [278]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
#from functions import *
import scipy.stats as st
from scipy.stats import ttest_ind

%matplotlib inline
import os

In [279]:
path = ('/Users/leilajavanmardi/Desktop/Leila/Coding_IronHack/Data_Analytics_Bootcamp/week5/Project/data/clean/df_web_clean.csv')
test = pd.read_csv(path)

In [280]:
test.drop(test.index[200:], inplace=True)

In [281]:
test

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time
0,0,169,201385055_71273495308,749567106_99161211863_557568,step_3,2017-04-12 20:22:05
1,1,169,201385055_71273495308,749567106_99161211863_557568,confirm,2017-04-12 20:23:09
2,2,169,201385055_71273495308,749567106_99161211863_557568,step_2,2017-04-12 20:20:31
3,3,169,201385055_71273495308,749567106_99161211863_557568,step_1,2017-04-12 20:19:45
4,4,169,201385055_71273495308,749567106_99161211863_557568,start,2017-04-12 20:19:36
...,...,...,...,...,...,...
195,195,1680,95496252_89175705853,561970892_34952005684_284982,step_3,2017-06-09 07:44:35
196,196,1680,95496252_89175705853,561970892_34952005684_284982,confirm,2017-06-09 07:45:58
197,197,1680,95496252_89175705853,561970892_34952005684_284982,step_2,2017-06-09 07:43:23
198,198,1702,470573753_93844895765,243444359_78696078676_118990,confirm,2017-04-01 11:44:04
199,199,1702,470573753_93844895765,825109778_55379502512_27372,confirm,2017-06-05 12:04:58

In [282]:
test['date_time']=pd.to_datetime(test['date_time'])
test = test.sort_values(['visit_id','date_time'])
test['end_of_the_step']= test.groupby('visit_id')['date_time'].shift(-1)

In [283]:
test.dtypes

Unnamed: 0                  int64
client_id                   int64
visitor_id                 object
visit_id                   object
process_step               object
date_time          datetime64[ns]
end_of_the_step    datetime64[ns]
dtype: object

In [284]:
test2 = test.drop(test.index[50:])

In [285]:
test2['next_step']= test2.groupby(['visit_id','client_id','visitor_id'])['process_step'].shift(-1)

In [286]:
test2['next_step']= test2.groupby(['visit_id','client_id','visitor_id'])['process_step'].shift(-1)
steps = {
    'start': 1,
    'step_1': 2,
    'step_2': 3,
    'step_3': 4,
    'confirm': 5
}

test2['current_stp_nr'] = test2['process_step'].map(steps)
test2['next_stp_nr'] = test2['next_step'].map(steps)
test2['error'] = test2['next_stp_nr'] - test2['current_stp_nr']
Error = test2[test2['error'] <=0]
Error['sum_er'] = 1
Error.groupby(['process_step'])[['sum_er']].sum().rename(columns = {'sum_er':'total_errors'})

In [287]:
test2['error'] = test2['next_stp_nr'] - test2['current_stp_nr']

In [302]:
Error = test2[test2['error'] <=0]

In [308]:
Error

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,end_of_the_step,next_step,current_stp_nr,next_stp_nr,error
151,151,1531,934069404_34543643308,110350144_67985219545_904677,confirm,2017-06-02 22:25:26,2017-06-02 22:32:08,start,5,1.0,-4.0
150,150,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:08,2017-06-02 22:32:08,start,1,1.0,0.0
157,157,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:28,2017-06-02 22:32:28,start,1,1.0,0.0
105,105,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:20:36,2017-06-06 18:23:51,start,2,1.0,-1.0
102,102,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:24:50,2017-06-06 18:26:15,start,4,1.0,-3.0
103,103,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:26:15,2017-06-06 18:28:34,start,1,1.0,0.0
108,108,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:34,2017-06-06 18:28:40,start,1,1.0,0.0
122,122,1399,395313004_27952045034,355891466_83298426087_683392,step_1,2017-05-10 10:59:15,2017-05-10 11:01:22,start,2,1.0,-1.0

In [310]:
Error['sum_er'] = 1

/var/folders/7n/f1mvr75d23s1g67jsx9pn8hr0000gn/T/ipykernel_2767/2456516870.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Error['sum_er'] = 1

In [ ]:
df['is_error'] = (df['prev_step'] > df['process_step']).astype(int)

In [311]:
Error

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,end_of_the_step,next_step,current_stp_nr,next_stp_nr,error,sum_er
151,151,1531,934069404_34543643308,110350144_67985219545_904677,confirm,2017-06-02 22:25:26,2017-06-02 22:32:08,start,5,1.0,-4.0,1
150,150,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:08,2017-06-02 22:32:08,start,1,1.0,0.0,1
157,157,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:28,2017-06-02 22:32:28,start,1,1.0,0.0,1
105,105,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:20:36,2017-06-06 18:23:51,start,2,1.0,-1.0,1
102,102,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:24:50,2017-06-06 18:26:15,start,4,1.0,-3.0,1
103,103,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:26:15,2017-06-06 18:28:34,start,1,1.0,0.0,1
108,108,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:34,2017-06-06 18:28:40,start,1,1.0,0.0,1
122,122,1399,395313004_27952045034,355891466_83298426087_683392,step_1,2017-05-10 10:59:15,2017-05-10 11:01:22,start,2,1.0,-1.0,1

In [314]:
Error.groupby(['process_step'])[['sum_er']].sum().rename(columns = {'sum_er':'total_errors'})

              total_errors
process_step
confirm                  1
start                    4
step_1                   2
step_3                   1

In [288]:
test2groupby(['visit_id','client_id','visitor_id'])['error'].apply(lambda x: x<=0

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,end_of_the_step,next_step,current_stp_nr,next_stp_nr,error
153,153,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:22:44,2017-06-02 22:22:50,step_1,1,2.0,1.0
156,156,1531,934069404_34543643308,110350144_67985219545_904677,step_1,2017-06-02 22:22:50,2017-06-02 22:23:01,step_2,2,3.0,1.0
154,154,1531,934069404_34543643308,110350144_67985219545_904677,step_2,2017-06-02 22:23:01,2017-06-02 22:25:04,step_3,3,4.0,1.0
152,152,1531,934069404_34543643308,110350144_67985219545_904677,step_3,2017-06-02 22:25:04,2017-06-02 22:25:26,confirm,4,5.0,1.0
151,151,1531,934069404_34543643308,110350144_67985219545_904677,confirm,2017-06-02 22:25:26,2017-06-02 22:32:08,start,5,1.0,-4.0
150,150,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:08,2017-06-02 22:32:08,start,1,1.0,0.0
155,155,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:08,2017-06-02 22:32:28,start,1,1.0,0.0
157,157,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:28,2017-06-02 22:32:28,start,1,1.0,0.0
158,158,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:28,NaT,NaN,1,NaN,NaN
166,166,1621,45031672_9874942918,178305257_74757299896_508747,start,2017-06-06 15:37:23,2017-06-06 15:39:46,step_1,1,2.0,1.0
171,171,1621,45031672_9874942918,178305257_74757299896_508747,step_1,2017-06-06 15:39:46,2017-06-06 15:40:18,step_2,2,3.0,1.0
170,170,1621,45031672_9874942918,178305257_74757299896_508747,step_2,2017-06-06 15:40:18,2017-06-06 15:42:49,step_3,3,4.0,1.0
169,169,1621,45031672_9874942918,178305257_74757299896_508747,step_3,2017-06-06 15:42:49,2017-06-06 15:44:04,confirm,4,5.0,1.0
167,167,1621,45031672_9874942918,178305257_74757299896_508747,confirm,2017-06-06 15:44:04,NaT,NaN,5,NaN,NaN
198,198,1702,470573753_93844895765,243444359_78696078676_118990,confirm,2017-04-01 11:44:04,NaT,NaN,5,NaN,NaN
147,147,1516,182314299_63168583136,255400977_38039535960_779641,start,2017-04-06 22:14:24,2017-04-06 22:15:20,step_1,1,2.0,1.0
148,148,1516,182314299_63168583136,255400977_38039535960_779641,step_1,2017-04-06 22:15:20,2017-04-06 22:15:55,step_2,2,3.0,1.0
149,149,1516,182314299_63168583136,255400977_38039535960_779641,step_2,2017-04-06 22:15:55,2017-04-06 22:26:02,step_3,3,4.0,1.0
137,137,1516,182314299_63168583136,255400977_38039535960_779641,step_3,2017-04-06 22:26:02,2017-04-06 22:30:18,confirm,4,5.0,1.0
138,138,1516,182314299_63168583136,255400977_38039535960_779641,confirm,2017-04-06 22:30:18,NaT,NaN,5,NaN,NaN
106,106,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:20:28,2017-06-06 18:20:36,step_1,1,2.0,1.0
105,105,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:20:36,2017-06-06 18:23:51,start,2,1.0,-1.0
104,104,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:23:51,2017-06-06 18:23:54,step_1,1,2.0,1.0
109,109,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:23:54,2017-06-06 18:24:01,step_2,2,3.0,1.0
107,107,1346,123474046_4204671056,27144337_83739845380_214282,step_2,2017-06-06 18:24:01,2017-06-06 18:24:50,step_3,3,4.0,1.0
102,102,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:24:50,2017-06-06 18:26:15,start,4,1.0,-3.0
103,103,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:26:15,2017-06-06 18:28:34,start,1,1.0,0.0
108,108,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:34,2017-06-06 18:28:40,start,1,1.0,0.0
110,110,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:40,2017-06-06 18:28:43,step_3,1,4.0,3.0
111,111,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:28:43,NaT,NaN,4,NaN,NaN
121,121,1399,395313004_27952045034,355891466_83298426087_683392,start,2017-05-10 10:59:11,2017-05-10 10:59:15,step_1,1,2.0,1.0
122,122,1399,395313004_27952045034,355891466_83298426087_683392,step_1,2017-05-10 10:59:15,2017-05-10 11:01:22,start,2,1.0,-1.0
123,123,1399,395313004_27952045034,355891466_83298426087_683392,start,2017-05-10 11:01:22,2017-05-10 11:01:25,step_1,1,2.0,1.0
124,124,1399,395313004_27952045034,355891466_83298426087_683392,step_1,2017-05-10 11:01:25,2017-05-10 11:01:37,step_2,2,3.0,1.0
120,120,1399,395313004_27952045034,355891466_83298426087_683392,step_2,2017-05-10 11:01:37,2017-05-10 11:02:24,step_3,3,4.0,1.0
119,119,1399,395313004_27952045034,355891466_83298426087_683392,step_3,2017-05-10 11:02:24,2017-05-10 11:03:03,confirm,4,5.0,1.0
118,118,1399,395313004_27952045034,355891466_83298426087_683392,confirm,2017-05-10 11:03:03,NaT,NaN,5,NaN,NaN
177,177,1643,910842861_51062379179,379946188_1773022140_107963,start,2017-04-15 15:06:00,NaT,NaN,1,NaN,NaN
79,79,1195,766842522_69992551638,393817425_39015278493_996341,start,2017-04-05 20:15:26,2017-04-05 20:15:59,step_1,1,2.0,1.0
78,78,1195,766842522_69992551638,393817425_39015278493_996341,step_1,2017-04-05 20:15:59,2017-04-05 20:17:37,step_2,2,3.0,1.0
77,77,1195,766842522_69992551638,393817425_39015278493_996341,step_2,2017-04-05 20:17:37,2017-04-05 20:18:08,step_3,3,4.0,1.0
80,80,1195,766842522_69992551638,393817425_39015278493_996341,step_3,2017-04-05 20:18:08,2017-04-05 20:19:31,confirm,4,5.0,1.0
81,81,1195,766842522_69992551638,393817425_39015278493_996341,confirm,2017-04-05 20:19:31,NaT,NaN,5,NaN,NaN
20,20,647,66758770_53988066587,40369564_40101682850_311847,start,2017-04-12 15:41:28,2017-04-12 15:41:35,step_1,1,2.0,1.0
18,18,647,66758770_53988066587,40369564_40101682850_311847,step_1,2017-04-12 15:41:35,2017-04-12 15:41:53,step_2,2,3.0,1.0
17,17,647,66758770_53988066587,40369564_40101682850_311847,step_2,2017-04-12 15:41:53,2017-04-12 15:45:02,step_3,3,4.0,1.0
21,21,647,66758770_53988066587,40369564_40101682850_311847,step_3,2017-04-12 15:45:02,2017-04-12 15:47:45,confirm,4,5.0,1.0
19,19,647,66758770_53988066587,40369564_40101682850_311847,confirm,2017-04-12 15:47:45,NaT,NaN,5,NaN,NaN
45,45,805,831412807_82548325803,451173196_11661340552_563345,start,2017-06-15 19:09:13,2017-06-15 19:09:19,step_1,1,2.0,1.0
44,44,805,831412807_82548325803,451173196_11661340552_563345,step_1,2017-06-15 19:09:19,2017-06-15 19:09:26,NaN,2,NaN,NaN

In [289]:
test ['time_diff'] = test.end_of_the_step - test.date_time

In [292]:
test

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,end_of_the_step,time_diff
153,153,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:22:44,2017-06-02 22:22:50,0 days 00:00:06
156,156,1531,934069404_34543643308,110350144_67985219545_904677,step_1,2017-06-02 22:22:50,2017-06-02 22:23:01,0 days 00:00:11
154,154,1531,934069404_34543643308,110350144_67985219545_904677,step_2,2017-06-02 22:23:01,2017-06-02 22:25:04,0 days 00:02:03
152,152,1531,934069404_34543643308,110350144_67985219545_904677,step_3,2017-06-02 22:25:04,2017-06-02 22:25:26,0 days 00:00:22
151,151,1531,934069404_34543643308,110350144_67985219545_904677,confirm,2017-06-02 22:25:26,2017-06-02 22:32:08,0 days 00:06:42
...,...,...,...,...,...,...,...,...
28,28,722,919259913_64837298108,984487154_55831795985_521110,start,2017-04-19 14:56:16,2017-04-19 14:56:18,0 days 00:00:02
26,26,722,919259913_64837298108,984487154_55831795985_521110,step_1,2017-04-19 14:56:18,2017-04-19 14:56:37,0 days 00:00:19
24,24,722,919259913_64837298108,984487154_55831795985_521110,step_2,2017-04-19 14:56:37,2017-04-19 14:57:27,0 days 00:00:50
23,23,722,919259913_64837298108,984487154_55831795985_521110,step_3,2017-04-19 14:57:27,2017-04-19 15:00:09,0 days 00:02:42
27,27,722,919259913_64837298108,984487154_55831795985_521110,confirm,2017-04-19 15:00:09,NaT,NaT

In [296]:
x = test[test['visit_id'] =='110350144_67985219545_904677']
x

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,end_of_the_step,time_diff
153,153,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:22:44,2017-06-02 22:22:50,0 days 00:00:06
156,156,1531,934069404_34543643308,110350144_67985219545_904677,step_1,2017-06-02 22:22:50,2017-06-02 22:23:01,0 days 00:00:11
154,154,1531,934069404_34543643308,110350144_67985219545_904677,step_2,2017-06-02 22:23:01,2017-06-02 22:25:04,0 days 00:02:03
152,152,1531,934069404_34543643308,110350144_67985219545_904677,step_3,2017-06-02 22:25:04,2017-06-02 22:25:26,0 days 00:00:22
151,151,1531,934069404_34543643308,110350144_67985219545_904677,confirm,2017-06-02 22:25:26,2017-06-02 22:32:08,0 days 00:06:42
150,150,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:08,2017-06-02 22:32:08,0 days 00:00:00
155,155,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:08,2017-06-02 22:32:28,0 days 00:00:20
157,157,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:28,2017-06-02 22:32:28,0 days 00:00:00
158,158,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:28,NaT,NaT

In [231]:
test2 = test.drop(test.index[50:])

In [300]:
test2 # Assuming df is your DataFrame containing the data
test2.drop_duplicates(subset=['client_id', 'visitor_id', 'visit_id', 'process_step', 'date_time'], inplace=True)

In [301]:
test2

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,end_of_the_step,next_step,current_stp_nr,next_stp_nr,error
153,153,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:22:44,2017-06-02 22:22:50,step_1,1,2.0,1.0
156,156,1531,934069404_34543643308,110350144_67985219545_904677,step_1,2017-06-02 22:22:50,2017-06-02 22:23:01,step_2,2,3.0,1.0
154,154,1531,934069404_34543643308,110350144_67985219545_904677,step_2,2017-06-02 22:23:01,2017-06-02 22:25:04,step_3,3,4.0,1.0
152,152,1531,934069404_34543643308,110350144_67985219545_904677,step_3,2017-06-02 22:25:04,2017-06-02 22:25:26,confirm,4,5.0,1.0
151,151,1531,934069404_34543643308,110350144_67985219545_904677,confirm,2017-06-02 22:25:26,2017-06-02 22:32:08,start,5,1.0,-4.0
150,150,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:08,2017-06-02 22:32:08,start,1,1.0,0.0
157,157,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:28,2017-06-02 22:32:28,start,1,1.0,0.0
166,166,1621,45031672_9874942918,178305257_74757299896_508747,start,2017-06-06 15:37:23,2017-06-06 15:39:46,step_1,1,2.0,1.0
171,171,1621,45031672_9874942918,178305257_74757299896_508747,step_1,2017-06-06 15:39:46,2017-06-06 15:40:18,step_2,2,3.0,1.0
170,170,1621,45031672_9874942918,178305257_74757299896_508747,step_2,2017-06-06 15:40:18,2017-06-06 15:42:49,step_3,3,4.0,1.0
169,169,1621,45031672_9874942918,178305257_74757299896_508747,step_3,2017-06-06 15:42:49,2017-06-06 15:44:04,confirm,4,5.0,1.0
167,167,1621,45031672_9874942918,178305257_74757299896_508747,confirm,2017-06-06 15:44:04,NaT,NaN,5,NaN,NaN
198,198,1702,470573753_93844895765,243444359_78696078676_118990,confirm,2017-04-01 11:44:04,NaT,NaN,5,NaN,NaN
147,147,1516,182314299_63168583136,255400977_38039535960_779641,start,2017-04-06 22:14:24,2017-04-06 22:15:20,step_1,1,2.0,1.0
148,148,1516,182314299_63168583136,255400977_38039535960_779641,step_1,2017-04-06 22:15:20,2017-04-06 22:15:55,step_2,2,3.0,1.0
149,149,1516,182314299_63168583136,255400977_38039535960_779641,step_2,2017-04-06 22:15:55,2017-04-06 22:26:02,step_3,3,4.0,1.0
137,137,1516,182314299_63168583136,255400977_38039535960_779641,step_3,2017-04-06 22:26:02,2017-04-06 22:30:18,confirm,4,5.0,1.0
138,138,1516,182314299_63168583136,255400977_38039535960_779641,confirm,2017-04-06 22:30:18,NaT,NaN,5,NaN,NaN
106,106,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:20:28,2017-06-06 18:20:36,step_1,1,2.0,1.0
105,105,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:20:36,2017-06-06 18:23:51,start,2,1.0,-1.0
104,104,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:23:51,2017-06-06 18:23:54,step_1,1,2.0,1.0
109,109,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:23:54,2017-06-06 18:24:01,step_2,2,3.0,1.0
107,107,1346,123474046_4204671056,27144337_83739845380_214282,step_2,2017-06-06 18:24:01,2017-06-06 18:24:50,step_3,3,4.0,1.0
102,102,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:24:50,2017-06-06 18:26:15,start,4,1.0,-3.0
103,103,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:26:15,2017-06-06 18:28:34,start,1,1.0,0.0
108,108,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:34,2017-06-06 18:28:40,start,1,1.0,0.0
110,110,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:40,2017-06-06 18:28:43,step_3,1,4.0,3.0
111,111,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:28:43,NaT,NaN,4,NaN,NaN
121,121,1399,395313004_27952045034,355891466_83298426087_683392,start,2017-05-10 10:59:11,2017-05-10 10:59:15,step_1,1,2.0,1.0
122,122,1399,395313004_27952045034,355891466_83298426087_683392,step_1,2017-05-10 10:59:15,2017-05-10 11:01:22,start,2,1.0,-1.0
123,123,1399,395313004_27952045034,355891466_83298426087_683392,start,2017-05-10 11:01:22,2017-05-10 11:01:25,step_1,1,2.0,1.0
124,124,1399,395313004_27952045034,355891466_83298426087_683392,step_1,2017-05-10 11:01:25,2017-05-10 11:01:37,step_2,2,3.0,1.0
120,120,1399,395313004_27952045034,355891466_83298426087_683392,step_2,2017-05-10 11:01:37,2017-05-10 11:02:24,step_3,3,4.0,1.0
119,119,1399,395313004_27952045034,355891466_83298426087_683392,step_3,2017-05-10 11:02:24,2017-05-10 11:03:03,confirm,4,5.0,1.0
118,118,1399,395313004_27952045034,355891466_83298426087_683392,confirm,2017-05-10 11:03:03,NaT,NaN,5,NaN,NaN
177,177,1643,910842861_51062379179,379946188_1773022140_107963,start,2017-04-15 15:06:00,NaT,NaN,1,NaN,NaN
79,79,1195,766842522_69992551638,393817425_39015278493_996341,start,2017-04-05 20:15:26,2017-04-05 20:15:59,step_1,1,2.0,1.0
78,78,1195,766842522_69992551638,393817425_39015278493_996341,step_1,2017-04-05 20:15:59,2017-04-05 20:17:37,step_2,2,3.0,1.0
77,77,1195,766842522_69992551638,393817425_39015278493_996341,step_2,2017-04-05 20:17:37,2017-04-05 20:18:08,step_3,3,4.0,1.0
80,80,1195,766842522_69992551638,393817425_39015278493_996341,step_3,2017-04-05 20:18:08,2017-04-05 20:19:31,confirm,4,5.0,1.0
81,81,1195,766842522_69992551638,393817425_39015278493_996341,confirm,2017-04-05 20:19:31,NaT,NaN,5,NaN,NaN
20,20,647,66758770_53988066587,40369564_40101682850_311847,start,2017-04-12 15:41:28,2017-04-12 15:41:35,step_1,1,2.0,1.0
18,18,647,66758770_53988066587,40369564_40101682850_311847,step_1,2017-04-12 15:41:35,2017-04-12 15:41:53,step_2,2,3.0,1.0
17,17,647,66758770_53988066587,40369564_40101682850_311847,step_2,2017-04-12 15:41:53,2017-04-12 15:45:02,step_3,3,4.0,1.0
21,21,647,66758770_53988066587,40369564_40101682850_311847,step_3,2017-04-12 15:45:02,2017-04-12 15:47:45,confirm,4,5.0,1.0
19,19,647,66758770_53988066587,40369564_40101682850_311847,confirm,2017-04-12 15:47:45,NaT,NaN,5,NaN,NaN
45,45,805,831412807_82548325803,451173196_11661340552_563345,start,2017-06-15 19:09:13,2017-06-15 19:09:19,step_1,1,2.0,1.0
44,44,805,831412807_82548325803,451173196_11661340552_563345,step_1,2017-06-15 19:09:19,2017-06-15 19:09:26,NaN,2,NaN,NaN

In [315]:
path3 = ('/Users/leilajavanmardi/Desktop/Leila/Coding_IronHack/Data_Analytics_Bootcamp/week5/Project/data/clean/df_experiment_clean.csv')
df_clean = pd.read_csv(path3)
variation_df = df_clean[['client_id','variation']]
test2 = pd.merge(test2,variation_df, on= 'client_id')
test2 = test2[test2.variation != 'Unknown']

In [327]:
test2

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,end_of_the_step,next_step,current_stp_nr,next_stp_nr,error,variation
0,198,1702,470573753_93844895765,243444359_78696078676_118990,confirm,2017-04-01 11:44:04,NaT,NaN,5,NaN,NaN,Test
1,147,1516,182314299_63168583136,255400977_38039535960_779641,start,2017-04-06 22:14:24,2017-04-06 22:15:20,step_1,1,2.0,1.0,Test
2,148,1516,182314299_63168583136,255400977_38039535960_779641,step_1,2017-04-06 22:15:20,2017-04-06 22:15:55,step_2,2,3.0,1.0,Test
3,149,1516,182314299_63168583136,255400977_38039535960_779641,step_2,2017-04-06 22:15:55,2017-04-06 22:26:02,step_3,3,4.0,1.0,Test
4,137,1516,182314299_63168583136,255400977_38039535960_779641,step_3,2017-04-06 22:26:02,2017-04-06 22:30:18,confirm,4,5.0,1.0,Test
5,138,1516,182314299_63168583136,255400977_38039535960_779641,confirm,2017-04-06 22:30:18,NaT,NaN,5,NaN,NaN,Test
6,106,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:20:28,2017-06-06 18:20:36,step_1,1,2.0,1.0,Test
7,105,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:20:36,2017-06-06 18:23:51,start,2,1.0,-1.0,Test
8,104,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:23:51,2017-06-06 18:23:54,step_1,1,2.0,1.0,Test
9,109,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:23:54,2017-06-06 18:24:01,step_2,2,3.0,1.0,Test
10,107,1346,123474046_4204671056,27144337_83739845380_214282,step_2,2017-06-06 18:24:01,2017-06-06 18:24:50,step_3,3,4.0,1.0,Test
11,102,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:24:50,2017-06-06 18:26:15,start,4,1.0,-3.0,Test
12,103,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:26:15,2017-06-06 18:28:34,start,1,1.0,0.0,Test
13,108,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:34,2017-06-06 18:28:40,start,1,1.0,0.0,Test
14,110,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:40,2017-06-06 18:28:43,step_3,1,4.0,3.0,Test
15,111,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:28:43,NaT,NaN,4,NaN,NaN,Test
16,177,1643,910842861_51062379179,379946188_1773022140_107963,start,2017-04-15 15:06:00,NaT,NaN,1,NaN,NaN,Test
17,79,1195,766842522_69992551638,393817425_39015278493_996341,start,2017-04-05 20:15:26,2017-04-05 20:15:59,step_1,1,2.0,1.0,Control
18,78,1195,766842522_69992551638,393817425_39015278493_996341,step_1,2017-04-05 20:15:59,2017-04-05 20:17:37,step_2,2,3.0,1.0,Control
19,77,1195,766842522_69992551638,393817425_39015278493_996341,step_2,2017-04-05 20:17:37,2017-04-05 20:18:08,step_3,3,4.0,1.0,Control
20,80,1195,766842522_69992551638,393817425_39015278493_996341,step_3,2017-04-05 20:18:08,2017-04-05 20:19:31,confirm,4,5.0,1.0,Control
21,81,1195,766842522_69992551638,393817425_39015278493_996341,confirm,2017-04-05 20:19:31,NaT,NaN,5,NaN,NaN,Control
22,20,647,66758770_53988066587,40369564_40101682850_311847,start,2017-04-12 15:41:28,2017-04-12 15:41:35,step_1,1,2.0,1.0,Test
23,18,647,66758770_53988066587,40369564_40101682850_311847,step_1,2017-04-12 15:41:35,2017-04-12 15:41:53,step_2,2,3.0,1.0,Test
24,17,647,66758770_53988066587,40369564_40101682850_311847,step_2,2017-04-12 15:41:53,2017-04-12 15:45:02,step_3,3,4.0,1.0,Test
25,21,647,66758770_53988066587,40369564_40101682850_311847,step_3,2017-04-12 15:45:02,2017-04-12 15:47:45,confirm,4,5.0,1.0,Test
26,19,647,66758770_53988066587,40369564_40101682850_311847,confirm,2017-04-12 15:47:45,NaT,NaN,5,NaN,NaN,Test

In [363]:
tes_completion_rate = test2.copy()
grouped_confirm = tes_completion_rate.groupby('client_id')['process_step'].transform(lambda x: x == 'confirm')
values = np.where(grouped_confirm, 1, 0)

tes_completion_rate['completion_rate_success'] = values

tes_completion_rate

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,end_of_the_step,next_step,current_stp_nr,next_stp_nr,error,variation,completion_rate_success
0,198,1702,470573753_93844895765,243444359_78696078676_118990,confirm,2017-04-01 11:44:04,NaT,NaN,5,NaN,NaN,Test,1
1,147,1516,182314299_63168583136,255400977_38039535960_779641,start,2017-04-06 22:14:24,2017-04-06 22:15:20,step_1,1,2.0,1.0,Test,0
2,148,1516,182314299_63168583136,255400977_38039535960_779641,step_1,2017-04-06 22:15:20,2017-04-06 22:15:55,step_2,2,3.0,1.0,Test,0
3,149,1516,182314299_63168583136,255400977_38039535960_779641,step_2,2017-04-06 22:15:55,2017-04-06 22:26:02,step_3,3,4.0,1.0,Test,0
4,137,1516,182314299_63168583136,255400977_38039535960_779641,step_3,2017-04-06 22:26:02,2017-04-06 22:30:18,confirm,4,5.0,1.0,Test,0
5,138,1516,182314299_63168583136,255400977_38039535960_779641,confirm,2017-04-06 22:30:18,NaT,NaN,5,NaN,NaN,Test,1
6,106,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:20:28,2017-06-06 18:20:36,step_1,1,2.0,1.0,Test,0
7,105,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:20:36,2017-06-06 18:23:51,start,2,1.0,-1.0,Test,0
8,104,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:23:51,2017-06-06 18:23:54,step_1,1,2.0,1.0,Test,0
9,109,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:23:54,2017-06-06 18:24:01,step_2,2,3.0,1.0,Test,0
10,107,1346,123474046_4204671056,27144337_83739845380_214282,step_2,2017-06-06 18:24:01,2017-06-06 18:24:50,step_3,3,4.0,1.0,Test,0
11,102,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:24:50,2017-06-06 18:26:15,start,4,1.0,-3.0,Test,0
12,103,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:26:15,2017-06-06 18:28:34,start,1,1.0,0.0,Test,0
13,108,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:34,2017-06-06 18:28:40,start,1,1.0,0.0,Test,0
14,110,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:40,2017-06-06 18:28:43,step_3,1,4.0,3.0,Test,0
15,111,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:28:43,NaT,NaN,4,NaN,NaN,Test,0
16,177,1643,910842861_51062379179,379946188_1773022140_107963,start,2017-04-15 15:06:00,NaT,NaN,1,NaN,NaN,Test,0
17,79,1195,766842522_69992551638,393817425_39015278493_996341,start,2017-04-05 20:15:26,2017-04-05 20:15:59,step_1,1,2.0,1.0,Control,0
18,78,1195,766842522_69992551638,393817425_39015278493_996341,step_1,2017-04-05 20:15:59,2017-04-05 20:17:37,step_2,2,3.0,1.0,Control,0
19,77,1195,766842522_69992551638,393817425_39015278493_996341,step_2,2017-04-05 20:17:37,2017-04-05 20:18:08,step_3,3,4.0,1.0,Control,0
20,80,1195,766842522_69992551638,393817425_39015278493_996341,step_3,2017-04-05 20:18:08,2017-04-05 20:19:31,confirm,4,5.0,1.0,Control,0
21,81,1195,766842522_69992551638,393817425_39015278493_996341,confirm,2017-04-05 20:19:31,NaT,NaN,5,NaN,NaN,Control,1
22,20,647,66758770_53988066587,40369564_40101682850_311847,start,2017-04-12 15:41:28,2017-04-12 15:41:35,step_1,1,2.0,1.0,Test,0
23,18,647,66758770_53988066587,40369564_40101682850_311847,step_1,2017-04-12 15:41:35,2017-04-12 15:41:53,step_2,2,3.0,1.0,Test,0
24,17,647,66758770_53988066587,40369564_40101682850_311847,step_2,2017-04-12 15:41:53,2017-04-12 15:45:02,step_3,3,4.0,1.0,Test,0
25,21,647,66758770_53988066587,40369564_40101682850_311847,step_3,2017-04-12 15:45:02,2017-04-12 15:47:45,confirm,4,5.0,1.0,Test,0
26,19,647,66758770_53988066587,40369564_40101682850_311847,confirm,2017-04-12 15:47:45,NaT,NaN,5,NaN,NaN,Test,1

In [361]:
# calculation of Completion rate for the test group
tes_completion_rate = test2.copy()
#tes_completion_rate = tes_completion_rate[tes_completion_rate.process_step == 'confirm']
#tes_completion_rate['compltion_rate_sucess'] = 1
grouped_confirm = tes_completion_rate.groupby('client_id')['process_step'].transform(lambda x: x.eq('confirm').any())
values = np.where(grouped_confirm, 1, 0)

# Assign the calculated values to the new column
tes_completion_rate['completion_rate_success'] = values

# Define conditions and values
#conditions = (tes_completion_rate['process_step'] == 'confirm')
#values = np.where(conditions, 1, 0)

# Assign the calculated values to the new column
#tes_completion_rate['completion_rate_success'] = values

#tes_completion_rate.groupby('variation')['completion_rate_success'].value_counts()
tes_completion_rate

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,end_of_the_step,next_step,current_stp_nr,next_stp_nr,error,variation,completion_rate_success
0,198,1702,470573753_93844895765,243444359_78696078676_118990,confirm,2017-04-01 11:44:04,NaT,NaN,5,NaN,NaN,Test,1
1,147,1516,182314299_63168583136,255400977_38039535960_779641,start,2017-04-06 22:14:24,2017-04-06 22:15:20,step_1,1,2.0,1.0,Test,1
2,148,1516,182314299_63168583136,255400977_38039535960_779641,step_1,2017-04-06 22:15:20,2017-04-06 22:15:55,step_2,2,3.0,1.0,Test,1
3,149,1516,182314299_63168583136,255400977_38039535960_779641,step_2,2017-04-06 22:15:55,2017-04-06 22:26:02,step_3,3,4.0,1.0,Test,1
4,137,1516,182314299_63168583136,255400977_38039535960_779641,step_3,2017-04-06 22:26:02,2017-04-06 22:30:18,confirm,4,5.0,1.0,Test,1
5,138,1516,182314299_63168583136,255400977_38039535960_779641,confirm,2017-04-06 22:30:18,NaT,NaN,5,NaN,NaN,Test,1
6,106,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:20:28,2017-06-06 18:20:36,step_1,1,2.0,1.0,Test,0
7,105,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:20:36,2017-06-06 18:23:51,start,2,1.0,-1.0,Test,0
8,104,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:23:51,2017-06-06 18:23:54,step_1,1,2.0,1.0,Test,0
9,109,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:23:54,2017-06-06 18:24:01,step_2,2,3.0,1.0,Test,0
10,107,1346,123474046_4204671056,27144337_83739845380_214282,step_2,2017-06-06 18:24:01,2017-06-06 18:24:50,step_3,3,4.0,1.0,Test,0
11,102,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:24:50,2017-06-06 18:26:15,start,4,1.0,-3.0,Test,0
12,103,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:26:15,2017-06-06 18:28:34,start,1,1.0,0.0,Test,0
13,108,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:34,2017-06-06 18:28:40,start,1,1.0,0.0,Test,0
14,110,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:40,2017-06-06 18:28:43,step_3,1,4.0,3.0,Test,0
15,111,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:28:43,NaT,NaN,4,NaN,NaN,Test,0
16,177,1643,910842861_51062379179,379946188_1773022140_107963,start,2017-04-15 15:06:00,NaT,NaN,1,NaN,NaN,Test,0
17,79,1195,766842522_69992551638,393817425_39015278493_996341,start,2017-04-05 20:15:26,2017-04-05 20:15:59,step_1,1,2.0,1.0,Control,1
18,78,1195,766842522_69992551638,393817425_39015278493_996341,step_1,2017-04-05 20:15:59,2017-04-05 20:17:37,step_2,2,3.0,1.0,Control,1
19,77,1195,766842522_69992551638,393817425_39015278493_996341,step_2,2017-04-05 20:17:37,2017-04-05 20:18:08,step_3,3,4.0,1.0,Control,1
20,80,1195,766842522_69992551638,393817425_39015278493_996341,step_3,2017-04-05 20:18:08,2017-04-05 20:19:31,confirm,4,5.0,1.0,Control,1
21,81,1195,766842522_69992551638,393817425_39015278493_996341,confirm,2017-04-05 20:19:31,NaT,NaN,5,NaN,NaN,Control,1
22,20,647,66758770_53988066587,40369564_40101682850_311847,start,2017-04-12 15:41:28,2017-04-12 15:41:35,step_1,1,2.0,1.0,Test,1
23,18,647,66758770_53988066587,40369564_40101682850_311847,step_1,2017-04-12 15:41:35,2017-04-12 15:41:53,step_2,2,3.0,1.0,Test,1
24,17,647,66758770_53988066587,40369564_40101682850_311847,step_2,2017-04-12 15:41:53,2017-04-12 15:45:02,step_3,3,4.0,1.0,Test,1
25,21,647,66758770_53988066587,40369564_40101682850_311847,step_3,2017-04-12 15:45:02,2017-04-12 15:47:45,confirm,4,5.0,1.0,Test,1
26,19,647,66758770_53988066587,40369564_40101682850_311847,confirm,2017-04-12 15:47:45,NaT,NaN,5,NaN,NaN,Test,1

In [360]:
tes_completion = test2.copy()
tes_completion = tes_completion.groupby(['client_id', 'visitor_id', 'visit_id'])
tes_completion
tes_completion = pd.DataFrame(tes_completion)
tes_completion

,0,1
0,"(647, 66758770_53988066587, 40369564_401016828...",Unnamed: 0 client_id visitor_i...
1,"(1195, 766842522_69992551638, 393817425_390152...",Unnamed: 0 client_id visitor_...
2,"(1346, 123474046_4204671056, 27144337_83739845...",Unnamed: 0 client_id visitor_i...
3,"(1516, 182314299_63168583136, 255400977_380395...",Unnamed: 0 client_id visitor_i...
4,"(1643, 910842861_51062379179, 379946188_177302...",Unnamed: 0 client_id visitor_...
5,"(1702, 470573753_93844895765, 243444359_786960...",Unnamed: 0 client_id visitor_i...

In [354]:
test2

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,end_of_the_step,next_step,current_stp_nr,next_stp_nr,error,variation
0,198,1702,470573753_93844895765,243444359_78696078676_118990,confirm,2017-04-01 11:44:04,NaT,NaN,5,NaN,NaN,Test
1,147,1516,182314299_63168583136,255400977_38039535960_779641,start,2017-04-06 22:14:24,2017-04-06 22:15:20,step_1,1,2.0,1.0,Test
2,148,1516,182314299_63168583136,255400977_38039535960_779641,step_1,2017-04-06 22:15:20,2017-04-06 22:15:55,step_2,2,3.0,1.0,Test
3,149,1516,182314299_63168583136,255400977_38039535960_779641,step_2,2017-04-06 22:15:55,2017-04-06 22:26:02,step_3,3,4.0,1.0,Test
4,137,1516,182314299_63168583136,255400977_38039535960_779641,step_3,2017-04-06 22:26:02,2017-04-06 22:30:18,confirm,4,5.0,1.0,Test
5,138,1516,182314299_63168583136,255400977_38039535960_779641,confirm,2017-04-06 22:30:18,NaT,NaN,5,NaN,NaN,Test
6,106,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:20:28,2017-06-06 18:20:36,step_1,1,2.0,1.0,Test
7,105,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:20:36,2017-06-06 18:23:51,start,2,1.0,-1.0,Test
8,104,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:23:51,2017-06-06 18:23:54,step_1,1,2.0,1.0,Test
9,109,1346,123474046_4204671056,27144337_83739845380_214282,step_1,2017-06-06 18:23:54,2017-06-06 18:24:01,step_2,2,3.0,1.0,Test
10,107,1346,123474046_4204671056,27144337_83739845380_214282,step_2,2017-06-06 18:24:01,2017-06-06 18:24:50,step_3,3,4.0,1.0,Test
11,102,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:24:50,2017-06-06 18:26:15,start,4,1.0,-3.0,Test
12,103,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:26:15,2017-06-06 18:28:34,start,1,1.0,0.0,Test
13,108,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:34,2017-06-06 18:28:40,start,1,1.0,0.0,Test
14,110,1346,123474046_4204671056,27144337_83739845380_214282,start,2017-06-06 18:28:40,2017-06-06 18:28:43,step_3,1,4.0,3.0,Test
15,111,1346,123474046_4204671056,27144337_83739845380_214282,step_3,2017-06-06 18:28:43,NaT,NaN,4,NaN,NaN,Test
16,177,1643,910842861_51062379179,379946188_1773022140_107963,start,2017-04-15 15:06:00,NaT,NaN,1,NaN,NaN,Test
17,79,1195,766842522_69992551638,393817425_39015278493_996341,start,2017-04-05 20:15:26,2017-04-05 20:15:59,step_1,1,2.0,1.0,Control
18,78,1195,766842522_69992551638,393817425_39015278493_996341,step_1,2017-04-05 20:15:59,2017-04-05 20:17:37,step_2,2,3.0,1.0,Control
19,77,1195,766842522_69992551638,393817425_39015278493_996341,step_2,2017-04-05 20:17:37,2017-04-05 20:18:08,step_3,3,4.0,1.0,Control
20,80,1195,766842522_69992551638,393817425_39015278493_996341,step_3,2017-04-05 20:18:08,2017-04-05 20:19:31,confirm,4,5.0,1.0,Control
21,81,1195,766842522_69992551638,393817425_39015278493_996341,confirm,2017-04-05 20:19:31,NaT,NaN,5,NaN,NaN,Control
22,20,647,66758770_53988066587,40369564_40101682850_311847,start,2017-04-12 15:41:28,2017-04-12 15:41:35,step_1,1,2.0,1.0,Test
23,18,647,66758770_53988066587,40369564_40101682850_311847,step_1,2017-04-12 15:41:35,2017-04-12 15:41:53,step_2,2,3.0,1.0,Test
24,17,647,66758770_53988066587,40369564_40101682850_311847,step_2,2017-04-12 15:41:53,2017-04-12 15:45:02,step_3,3,4.0,1.0,Test
25,21,647,66758770_53988066587,40369564_40101682850_311847,step_3,2017-04-12 15:45:02,2017-04-12 15:47:45,confirm,4,5.0,1.0,Test
26,19,647,66758770_53988066587,40369564_40101682850_311847,confirm,2017-04-12 15:47:45,NaT,NaN,5,NaN,NaN,Test

In [337]:
# calculation of Completion rate for the test group
tes_complition_rate = test2.copy()
tes_complition_rate2 = tes_complition_rate[tes_complition_rate.process_step == 'confirm']
tes_complition_rate2['compltion_rate_sucess'] = 1

tes_complition_rate2.groupby('variation')[['compltion_rate_sucess']].count()
#completion_rate_test = round((num_user_confirm_test / total_users_test)*100,2)

#print(f'The number of users in test group who reached the confirm step is {num_user_confirm_test} and the number of total test sample is {total_users_test}')
#print (f'The completion rate in test group is {completion_rate_test}')
#tes_complition_rate[tes_complition_rate.process_step == 'confirm'].groupby('client_id')
#tes_complition_rate2

/var/folders/7n/f1mvr75d23s1g67jsx9pn8hr0000gn/T/ipykernel_2767/2411988239.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tes_complition_rate2['compltion_rate_sucess'] = 1

           compltion_rate_sucess
variation
Control                        1
Test                           3

In [233]:
test2[test2.visit_id == '110350144_67985219545_904677']

,Unnamed: 0,client_id,visitor_id,visit_id,process_step,date_time,end_of_the_step,next_step,time_diff
153,153,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:22:44,2017-06-02 22:22:50,step_1,0 days 00:00:06
156,156,1531,934069404_34543643308,110350144_67985219545_904677,step_1,2017-06-02 22:22:50,2017-06-02 22:23:01,step_2,0 days 00:00:11
154,154,1531,934069404_34543643308,110350144_67985219545_904677,step_2,2017-06-02 22:23:01,2017-06-02 22:25:04,step_3,0 days 00:02:03
152,152,1531,934069404_34543643308,110350144_67985219545_904677,step_3,2017-06-02 22:25:04,2017-06-02 22:25:26,confirm,0 days 00:00:22
151,151,1531,934069404_34543643308,110350144_67985219545_904677,confirm,2017-06-02 22:25:26,2017-06-02 22:32:08,start,0 days 00:06:42
150,150,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:08,2017-06-02 22:32:08,start,0 days 00:00:00
155,155,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:08,2017-06-02 22:32:28,start,0 days 00:00:20
157,157,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:28,2017-06-02 22:32:28,start,0 days 00:00:00
158,158,1531,934069404_34543643308,110350144_67985219545_904677,start,2017-06-02 22:32:28,NaT,NaN,NaT

In [234]:
# Assuming test2 is your DataFrame
test ['time_diff'] = test.end_of_the_step - test.date_time
result = test2.groupby(['visit_id', 'process_step'])[['time_diff']].mean().rename(columns={'time_diff': 'average'}).reset_index()

# Now 'average' column will contain the mean values
result

                        visit_id process_step                average
0   110350144_67985219545_904677      confirm        0 days 00:06:42
1   110350144_67985219545_904677        start 0 days 00:00:06.500000
2   110350144_67985219545_904677       step_1        0 days 00:00:11
3   110350144_67985219545_904677       step_2        0 days 00:02:03
4   110350144_67985219545_904677       step_3        0 days 00:00:22
5   178305257_74757299896_508747      confirm                    NaT
6   178305257_74757299896_508747        start        0 days 00:02:23
7   178305257_74757299896_508747       step_1        0 days 00:00:32
8   178305257_74757299896_508747       step_2        0 days 00:02:31
9   178305257_74757299896_508747       step_3        0 days 00:01:15
10  243444359_78696078676_118990      confirm                    NaT
11  255400977_38039535960_779641      confirm                    NaT
12  255400977_38039535960_779641        start        0 days 00:00:56
13  255400977_38039535960_779641       step_1        0 days 00:00:35
14  255400977_38039535960_779641       step_2        0 days 00:10:07
15  255400977_38039535960_779641       step_3        0 days 00:04:16
16   27144337_83739845380_214282        start 0 days 00:00:31.800000
17   27144337_83739845380_214282       step_1        0 days 00:01:41
18   27144337_83739845380_214282       step_2        0 days 00:00:49
19   27144337_83739845380_214282       step_3        0 days 00:01:25
20  355891466_83298426087_683392      confirm                    NaT
21  355891466_83298426087_683392        start 0 days 00:00:03.500000
22  355891466_83298426087_683392       step_1 0 days 00:01:09.500000
23  355891466_83298426087_683392       step_2        0 days 00:00:47
24  355891466_83298426087_683392       step_3        0 days 00:00:39
25   379946188_1773022140_107963        start                    NaT
26  393817425_39015278493_996341      confirm                    NaT
27  393817425_39015278493_996341        start        0 days 00:00:33
28  393817425_39015278493_996341       step_1        0 days 00:01:38
29  393817425_39015278493_996341       step_2        0 days 00:00:31
30  393817425_39015278493_996341       step_3        0 days 00:01:23
31   40369564_40101682850_311847      confirm                    NaT
32   40369564_40101682850_311847        start        0 days 00:00:07
33   40369564_40101682850_311847       step_1        0 days 00:00:18
34   40369564_40101682850_311847       step_2        0 days 00:03:09
35   40369564_40101682850_311847       step_3        0 days 00:02:43
36  451173196_11661340552_563345        start        0 days 00:00:06
37  451173196_11661340552_563345       step_1        0 days 00:00:07

client_id 1531,visitor_id 934069404_34543643308,visit_id 110350144_67985219545_904677

In [235]:
result= result.groupby('process_step')[['average']].mean()

In [236]:
result

                               average
process_step
confirm                0 days 00:06:42
start           0 days 00:00:35.850000
step_1          0 days 00:00:46.437500
step_2                 0 days 00:02:51
step_3       0 days 00:01:43.285714285

In [237]:
test.process_step.unique()

array(['start', 'step_1', 'step_2', 'step_3', 'confirm'], dtype=object)

In [240]:
steps = {
    'start': 1,
    'step_1': 2,
    'step_2': 3,
    'step_3': 4,
    'confirm': 5
}

test['current_st_nr'] = test.groupby(['client_id','visit_id'])['process_step'].map(steps)

AttributeError: 'SeriesGroupBy' object has no attribute 'map'

In [241]:
steps = {
    'start': 1,
    'step_1': 2,
    'step_2': 3,
    'step_3': 4,
    'confirm': 5
}

In [243]:
# Assuming steps is a dictionary that maps process_step values to new values
test['current_st_nr'] = test.groupby(['client_id', 'visit_id'])['process_step'].transform(steps)

# If steps is a function, you can use apply instead
# test['current_st_nr'] = test.groupby(['client_id', 'visit_id'])['process_step'].apply(steps)

TypeError: unhashable type: 'dict'

In [ ]:
#test['next_st_nr'] = test.next_step.map(steps)
test

In [ ]:
first_steps = {
    'start': 1,
    'step_1': 2,
    'step_2': 3,
    'step_3': 4,
    'confirm': 5
}

next_steps = {
    'start': -1,
    'step_1': -2,
    'step_2': -3,
    'step_3': -4,
    'confirm': -5
}
test['current_st_nr'] = test.process_step.map(first_steps)
test['next_st_nr'] = test.next_step.map(next_steps)

In [ ]:
test

In [ ]:
test

In [ ]:
# error 
test.groupby(['client_id','visitor_id','visit_id'])[['next_st_nr','current_st_nr']]

In [ ]:
test

In [ ]:
test['error'] = test['next_st_nr']- test['current_st_nr']
test